{% extends "base.html" %}
{% load static %}




{% block content %}


    <!-- Page Header -->
    <section class="padding_half page_header page_header_one">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-capitalize top40">Change Password</h1>
                    <p class="bottom30">Change Your Password here</p>
                    <ul class="breadcrumb_link">
                        <li><a href="{% url "index" %}">Home</a></li>
                        <li class="active">Change password</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Header ends -->




    <div class="container" style="margin-top:70px; margin-bottom: 70px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: rgba(51, 51, 51, 1); color: #ffffff;"><h3
                        class="panel-title"><strong>Change Password</strong></h3>

                </div>
                <div class="panel-body">
                    <h3>Change your Password:</h3>
                    <br>


                    <div class="gf gc">

                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">

                            {% csrf_token %}

                            {{ form.as_p }}

                            <button type="submit" name="action">Change Password</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}