<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>


{% for message in messages %}


    <h3> {{ message }} </h3>

{% endfor %}




<form action="" method="post" enctype="multipart/form-data">
    <div id="csrf">{% csrf_token %}</div>

    <label for="#id_pimage">Browse Your Product Image: </label>
    <input id="id_pimage" type="file" name="p_image" required>



    <label for="#id_resellers">select a brand:</label>


    <select id="id_resellers" name="reseller_brand" required>
        <option value="">انتخاب کنید</option>
        {% for re in resellers %}
            re.id
            <option value="{{ re.id }}">{{ re.brand.name }}</option>
        {% endfor %}
    </select>

    <select id="id_type" name="type_select" required>
        <option value="">انتخاب کنید</option>
        {% for ty in types %}

            <option value="{{ ty.id }}">{{ ty.name }}</option>
        {% endfor %}
    </select>

    <label for="#id_pname">name:</label>
    <input type="text" id="id_pname" name="p_name"
           placeholder="enter name" required>

    <label for="#id_pprice">price:</label>
    <input type="text" id="id_pprice" name="p_price"
           placeholder="enter name" required>

    <label for="#id_units">select a unit:</label>
    <select id="id_units" name="units" required>
        <option value="">انتخاب کنید</option>
        {% for unit in units %}
            <option value="{{ unit.id }}">{{ unit.name }}</option>
        {% endfor %}
    </select>
    <div id="generate_fields">
        {#    {% for field in fields %}#}
        {#        <label for="{{ field.name }}_{{ field.id }}">{{ field.name }}:</label>#}
        {#        <input type="text" id="{{ field.name }}_{{ field.id }}" name="{{ field.name }}{{ field.id }}"#}
        {#               placeholder="enter model" required>#}
        {#    {% endfor %}#}
    </div>

    {##}
    {##}
    {#    <label for="id_model">model:</label>#}
    {#    <input type="text" id="id_model" name="model"#}
    {#           placeholder="enter model" required>#}
    {##}
    {#    <label for="id_ram">ram:</label>#}
    {#    <input type="text" id="id_ram" name="ram"#}
    {#           placeholder="enter ram" required>#}
    {#    <label for="id_cpu">cpu:</label>#}
    {#    <input type="text" id="id_cpu" name="cpu"#}
    {#           placeholder="enter cpu" required>#}
    {#    <label for="id_harddisk">model:</label>#}
    {#    <input type="text" id="id_harddisk" name="hard_disk"#}
    {#           placeholder="enter hard disk" required>#}

    <button type="submit" value="submit">save!</button>

</form>


<script>


    $(document).ready(function () {


        $("#id_type").change(function (event) {
            console.log(event);
            event.preventDefault();
            var type_id = $(this).val();
            console.log(type_id);
            {# formData + "&password = " + $("#id_password").val() #}
            $.ajax({
                url: '{% url "product:add_field" %}',
                data: {"type_id": type_id},
                type: 'post',
                dataType: 'json',


                {#success: Function( Anything data, String textStatus, jqXHR jqXHR )#}
                success: function (responseData, textStatus, jqXHR) {
                    $("#message").text(responseData.message + " (status= " + textStatus + ")");
                    console.log(responseData.fields)
                    $('#generate_fields').empty();
                    for (f in responseData.fields) {
                        console.log(responseData.fields[f].id);

                        $('#generate_fields').append('<input hidden name="input_fields"' + 'value="' + responseData.fields[f].id + '"' + '">'
                            + '<label for="#f_' + responseData.fields[f].id + '">' + responseData.fields[f].name + ': ' + '</label>\n'
                            + '<input type="text" name="field_input_' + responseData.fields[f].id + '"' + 'id="f_' + responseData.fields[f].id + '"' + '">'
                        );
                    }

                    {#$('#generate_fields').html('<input value="'+  + '">');#}


                },

                {#error: Function( jqXHR jqXHR, String textStatus, String errorThrown )#}
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#message").text(jqXHR.responseJSON.error + " (status= " + textStatus + ")");

                },

                {#complete: Function( jqXHR jqXHR, String textStatus )#}
                complete: function (jqXHR, textStatus) {
                    $("#your_name").val('');
                }

            });


        })


    });


    {##}
    {#    $("#id_resellers").change(function ( event ) {#}
    {#        console.log(event);#}
    {#        event.preventDefault();#}
    {#        var reseller_id = $(this).val();#}
    {#        console.log(reseller_id);#}
    {# formData + "&password = " + $("#id_password").val() #}
    {#        $.ajax({#}
    {#            url:'{% url "product:add_field" %}',#}
    {#            data: {"reseller_id":reseller_id},#}
    {#            type:'post',#}
    {#csrfmiddlewaretoken: '{{ csrf_token }}',#}
    {##}
    {#success: Function( Anything data, String textStatus, jqXHR jqXHR )#}
    {#            success: function ( responseData,  textStatus,  jqXHR) {#}
    {#                $("#message").text( responseData.message + " (status= " + textStatus + ")" );#}
    {##}
    {#            },#}
    {##}
    {#error: Function( jqXHR jqXHR, String textStatus, String errorThrown )#}
    {#            error: function(  jqXHR,  textStatus,  errorThrown ){#}
    {#                $("#message").text( jqXHR.responseJSON.error + " (status= " + textStatus + ")" );#}
    {##}
    {#            },#}
    {##}
    {#complete: Function( jqXHR jqXHR, String textStatus )#}
    {#            complete: function(  jqXHR,  textStatus ){#}
    {#                $("#your_name").val('');#}
    {#            }#}
    {##}
    {##}
    {##}
    {#        });#}
    {#    })#}
    {# }); #}
</script>

</body>


</html>

