{% extends "base.html" %}
{% load static %}



{% block content %}


    <div class="c-layout-page">
        <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center"
             style="background-image: url({% static "assets/base/img/content/backgrounds/bg-10.jpg" %})">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim font-fa font-bold">ثبت
                        نمایندگی و فروشگاه</h3>
                    <h4 class="c-font-white c-font-thin c-opacity-07">
                    </h4>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="javascript:;" class="c-font-white font-fa">صفحه اصلی</a></li>
                    <li class="c-font-white">/</li>
                    <li><a href="#" class="c-font-white font-fa">ثبت نمایندگی و فروشگاه</a></li>


                </ul>
            </div>
        </div>
        <div class="c-content-box c-size-md c-bg-grey-1  ">
            <div class="container">
                <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-center c-font-bold font-fa" style="font-size: 17px">جهت ثبت یکی از
                            حالت های زیر را انتخاب کنید</h3>
                        <div class="c-line-center"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">

                            <div class="c-content-feature-2 c-margin-b-20 " data-height="height" style="height: 160px;">
                                <div class="c-icon-wrapper">
                                    <a href="#">
                                        <div class="c-content-line-icon c-theme c-icon-screen-chart  "></div>
                                    </a>
                                </div>
                                <a href=""><h3
                                        class="c-font-uppercase c-font-bold c-title font-fa c-theme-font-hover c-font-blue-3-hover "
                                        style="font-size: 16px">ثبت نمایندگی رسمی</h3></a>
                                <p class="font-fa font-justify c-margin-b-15" style="font-size: 12px">در صورت داشتن
                                    نمایندگی رسمی یک یا چند برند داخلی (تولید) و یا خارجی (واردات) از این قسمت درخواست
                                    خود را ثبت نمایید. </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2" data-height="height" style="height: 160px;">
                                <div class="c-icon-wrapper">
                                    <div class="c-content-line-icon c-theme c-icon-support"></div>
                                </div>
                                <a href=""><h3
                                        class="c-font-uppercase c-font-bold c-title font-fa c-theme-font-hover c-font-blue-3-hover "
                                        style="font-size: 16px">ثبت فروشنده</h3></a>
                                <p class="font-fa font-justify c-margin-b-15" style="font-size: 12px">در صورتی که
                                    فروشگاه اختصاصی دارید و یا وارد کننده یک یا چند برند به صورت خصوصی هستید از این قسمت
                                    درخواست خود را ثبت کنید </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-feature-2" data-height="height" style="height: 160px;">
                                <div class="c-icon-wrapper">
                                    <div class="c-content-line-icon c-theme c-icon-comment"></div>
                                </div>
                                <a href=""><h3
                                        class="c-font-uppercase c-font-bold c-title font-fa c-theme-font-hover c-font-blue-3-hover "
                                        style="font-size: 16px">ثبت نمایندگی</h3></a>
                                <p class="font-fa font-justify c-margin-b-15" style="font-size: 12px">در صورتی که تمایل
                                    به ثبت نمایندگی زیرمجموعه فروشگاه‌ها و یا برندهای ثبت شده در بیلدینو را دارا هستید
                                    از ای قسمت درخواست خود را ثبت کنید
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}