{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <style>
        .font-sized {
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="c-layout-page">
        <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
        <div class="container">
            <div class="c-layout-sidebar-menu c-theme font-fa">

                <!-- BEGIN: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->
                <form method="post" id="form_s">
                    {% csrf_token %}


                    <div class="c-layout-sidebar-menu c-theme ">

                        <ul class="c-shop-filter-search-1 list-unstyled">
                            <li>
                                <label class="control-label c-font-uppercase c-font-bold font-sized">دسته بندی :</label>
                                <select class="form-control c-square c-theme font-fa" name="type" id="type">
                                    <option value="0">همه دسته بندی ها</option>
                                    {% for type in type %}
                                        <option value="{{ type.id }}" {% if type.id == type_value %}
                                                selected {% endif %}>{{ type.name }}</option>
                                    {% endfor %}

                                </select>
                            </li>


                        </ul>
                        <ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
                            <li class="c-dropdown c-active c-open">
                                <a href="javascript:;" class="c-toggler font-bold">برند ها<span class="c-arrow"></span></a>
                                <ul class="c-dropdown-menu">
                                    {% for brand in brand %}
                                        <li>
                                            <div class="c-checkbox c-checkbox-height">
                                                <input type="checkbox" id="checkbox-sidebar-3-{{ forloop.counter }}"
                                                       class="c-check bch"
                                                       name="brand" value="{{ brand.id }}">
                                                <label
                                                        for="checkbox-sidebar-3-{{ forloop.counter }}">
                                                    <span class="inc"></span> <span class="check"></span> <span
                                                        class="box"></span>
                                                    <p class="font-size-14px">{{ brand.name }}</p>
                                                </label>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="c-shop-filter-search-1 list-unstyled">
                            <li>
                                <label class="control-label c-font-uppercase c-font-bold font-sized">بازه قیمتی
                                    :</label>
                                <p class="font-fa" style="font-size: 14px">0 تا 10 میلیون تومان</p>
                                <div class="c-price-range-box input-group">
                                    <div class="c-price input-group col-md-6 pull-left">
                                        <span class="input-group-addon c-square c-theme">$</span>
                                        <input type="number" class="form-control c-square c-theme" id="min-p"
                                               placeholder="از">
                                    </div>
                                    <div class="c-price input-group col-md-6 pull-left">
                                        <span class="input-group-addon c-square c-theme">$</span>
                                        <input type="number" class="form-control c-square c-theme" id="max-p"
                                               placeholder="تا">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" id="filter-button" class="btn c-btn-green">اعمال قیمت</button>
                            </li>
                            <li>
                                <label class="control-label c-font-uppercase c-font-bold font-sized">موجودیت :</label>
                                <div class="c-checkbox c-checkbox-height">
                                    <input type="checkbox" value="True" id="checkbox-sidebar-3" class="c-check ch">
                                    <label
                                            for="checkbox-sidebar-3">
                                        <span class="inc"></span> <span class="check"></span> <span class="box"></span>
                                        <p class="font-size-14px">نمایش کالا های موجود</p>
                                    </label>
                                </div>
                            </li>
                        </ul><!-- END: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->

                        <ul class="c-shop-filter-search-1 list-unstyled">

                        </ul>
                    </div>
                </form>
                <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
            </div>
            <div class="c-layout-sidebar-content font-fa">
                <!-- BEGIN: PAGE CONTENT -->
                <!-- BEGIN: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
                <form class="c-shop-advanced-search-1">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-xs-9">
                                    <label class="control-label">جستجو : </label>
                                    <input type="text" id="search_field"
                                           class="form-control c-square c-theme input-lg font-fa"
                                           placeholder="نام کالا یا کد کالا ...">
                                </div>
                                <div class="col-xs-3" style="margin-top: 35px;">
                                    <div class="form-group" role="group">
                                        <button type="button" id="search"
                                                class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                            <i
                                                    class="fa fa-search"></i>جستجو
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- END: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
                <div class="c-margin-t-30"></div>

                <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
                <div class="c-shop-result-filter-1 clearfix form-inline font-fa">
                    <div class="c-filter">
                        <label class="control-label c-font-16" style="font-size: 13px;">مرتب سازی بر اساس </label>
                        <select class="form-control c-square c-theme c-input font-fa">
                            <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">گرانترین</option>
                            <option value="#?sort=pd.name&amp;order=ASC">ارزانترین</option>
                            <option value="#?sort=pd.name&amp;order=DESC">جدیدترین</option>
                            <option value="#?sort=p.price&amp;order=ASC">قدیمی ترین</option>
                            <option value="#?sort=p.price&amp;order=DESC" selected>پر فروش ترین</option>
                        </select>
                    </div>
                </div><!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->

                <div class="c-margin-t-20"></div>

                <!-- BEGIN: CONTENT/SHOPS/SHOP-2-8 -->
                <div id="list">
                    {% for product in product %}
                        <div class="col-md-3 col-sm-6 c-margin-b-20">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        فروش
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="{% url 'product:product_detail' pk=product.pk %}"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 230px; background-image: url(
                                                 {{ MEDIA_URL }}{{ product.productmedia_set.first.img.url }});"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-16 c-font-slim">{{ product.name }}</p>
                                    <p class="c-price c-font-14 c-font-slim">
                                        {{ product.productprice_set.first.price }}
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">سفارش</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <button type="button" onclick="favorite({{ product.id }});"
                                           class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">علاقه
                                            مندی</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <div class="c-margin-t-20"></div>

                {#                <ul class="c-content-pagination c-square c-theme pull-right">#}
                {#                    <li class="c-prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>#}
                {#                    <li><a href="#">1</a></li>#}
                {#                    <li class="c-active"><a href="#">2</a></li>#}
                {#                    <li><a href="#">3</a></li>#}
                {#                    <li><a href="#">4</a></li>#}
                {#                    <li class="c-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>#}
                {#                </ul>            <!-- END: PAGE CONTENT -->#}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function search_filter() {
            var bval = [];
            $('.bch').each(function (i, obj) {
                if (obj.checked) {
                    bval.push($(this).val())
                }
            });
            $.ajax({
                url: '{% url 'product:search_filtering' %}',
                data: {
                    'brand': bval,
                    'min-p': $('#min-p').val(),
                    'max-p': $('#max-p').val(),
                    'cat': $('#type').val()
                },
                success: function (data) {
                    $('#list').empty();
                    for (p in data.product) {
                        $('#list').append('' +
                            '<div class="col-md-3 col-sm-6 c-margin-b-20">\n' +
                            '<div class="c-content-product-2 c-bg-white c-border">\n' +
                            '<div class="c-content-overlay">\n' +
                            '<div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold"> فروش </div>\n' +
                            '<div class="c-overlay-wrapper">\n' +
                            '<div class="c-overlay-content">\n' +
                            '<a href="" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(' + data.product[p].image + ');">' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-info">\n' +
                            '<p class="c-title c-font-16 c-font-slim">' + data.product[p].name + '</p>\n' +
                            '<p class="c-price c-font-14 c-font-slim">' + data.product[p].price +
                            '</p>\n' +
                            '</div>\n' +
                            '<div class="btn-group btn-group-justified" role="group">\n' +
                            '<div class="btn-group c-border-top" role="group">\n' +
                            '<a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">سفارش</a>\n' +
                            '</div>\n' +
                            '<div class="btn-group c-border-left c-border-top" role="group">\n' +
                            '<button onclick="favorite('+ data.product[p].id +');" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">علاقه مندی</button>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>');
                    }
                }
            });
        }

        $('#type').change(function () {
            search_filter()
        });


        $('.ch').change(function () {
            var available = [];
            if (this.checked) {
                available.push($(this).val())
            }
            $.ajax({
                url: '{% url 'product:search_filtering' %}',
                type: 'POST',
                data: {
                    'value': available
                },
                success: function (data) {
                    $('#list').empty();
                    for (p in data.product) {
                        $('#list').append('' +
                            '<div class="col-md-3 col-sm-6 c-margin-b-20">\n' +
                            '<div class="c-content-product-2 c-bg-white c-border">\n' +
                            '<div class="c-content-overlay">\n' +
                            '<div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold"> فروش </div>\n' +
                            '<div class="c-overlay-wrapper">\n' +
                            '<div class="c-overlay-content">\n' +
                            '<a href="" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(' + data.product[p].image + ');">' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-info">\n' +
                            '<p class="c-title c-font-16 c-font-slim">' + data.product[p].name + '</p>\n' +
                            '<p class="c-price c-font-14 c-font-slim">'+ data.product[p].price +
                            '</p>\n' +
                            '</div>\n' +
                            '<div class="btn-group btn-group-justified" role="group">\n' +
                            '<div class="btn-group c-border-top" role="group">\n' +
                            '<a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">سفارش</a>\n' +
                            '</div>\n' +
                            '<div class="btn-group c-border-left c-border-top" role="group">\n' +
                            '<button onclick="favorite('+ data.product[p].id +')" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">علاقه مندی</button>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>');
                    }
                }
            });
        })


        $('#search').click(function () {
            $.ajax({
                url: '{% url 'product:search_field' %}',
                type: 'POST',
                data: {
                    'value': $('#search_field').val()
                },
                success: function (data) {
                    $('#list').empty();
                    for (p in data.product) {
                        $('#list').append('' +
                            '<div class="col-md-3 col-sm-6 c-margin-b-20">\n' +
                            '<div class="c-content-product-2 c-bg-white c-border">\n' +
                            '<div class="c-content-overlay">\n' +
                            '<div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold"> فروش </div>\n' +
                            '<div class="c-overlay-wrapper">\n' +
                            '<div class="c-overlay-content">\n' +
                            '<a href="" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(' + data.product[p].image + ');">' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="c-info">\n' +
                            '<p class="c-title c-font-16 c-font-slim">' + data.product[p].name + '</p>\n' +
                            '<p class="c-price c-font-14 c-font-slim">' + data.product[p].price +
                            '</p>\n' +
                            '</div>\n' +
                            '<div class="btn-group btn-group-justified" role="group">\n' +
                            '<div class="btn-group c-border-top" role="group">\n' +
                            '<a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">سفارش</a>\n' +
                            '</div>\n' +
                            '<div class="btn-group c-border-left c-border-top" role="group">\n' +
                            '<button onclick="favorite('+ data.product[p].id +')" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">علاقه مندی</button>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>\n' +
                            '</div>');
                    }
                }
            })
        });


        $('#filter-button').click(function () {
            search_filter()
        });
        $('.bch').click(function () {
            search_filter()
        });
    </script>
{% endblock %}